.chat-container{
    height: 100%;
    background-color: white;
    
}
.chat-header{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 5px;  
    color: black;
    background-color:white;
    height: 66px;
    box-shadow: 0 4px 10px -1px rgba(128, 128, 128, 0.6);
}
.left-box
{
    padding: 0px 0px 0px 10px;
    margin: 0%;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: left;
    width:80%;
}
.right-box{
    display: flex;
    width:20%;
    justify-content: right;
    gap: 10px;
    margin-right: 40px;
}
.chat-header .left-box h3{
    padding: 5px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 350;
}
.profile-image {
    width: 40px; /* Adjust based on your preference */
    height: 40px; /* Adjust to maintain aspect ratio */
    border-radius: 50%; /* Creates the rounded effect */
    object-fit: cover; /* Ensures the image covers the space without distortion */
  }
  
  .no-profile-icon {
    border-radius: 50%;
    border:2px solid black;
    width: 40px; /* Match the size of the profile image for consistency */
    height: 40px; /* Match the size of the profile image for consistency */
  }