.request-heading
{
  background-color: rgba(8, 8, 8, 0.897);
  color: whitesmoke;  
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  padding-right: 20px; 
  height: 66px;
  justify-content: space-between;
}
.request-heading h4{
  font-weight: 200;
    font-size:24px;
    line-height: 50px;
}
.request-direction{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request-direction:focus {
  outline: none;
  box-shadow: none;
}
.request-left-container{
    width: 30%;
    border-right: 1px solid rgba(27, 26, 26, 0.993);
    border-left: 1px solid rgba(27, 26, 26, 0.993);
    height: 90%;
}
.request-right-container{
    width:70%;
    height: 100%;
}
.profile-initials-2 {
    width: 40px; /* Adjust based on your design */
    height: 40px; /* Adjust based on your design */
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #ccc; /* For initials background */
  }
  
  .request-active{
    background-color: rgba(36, 136, 218, 0.918);
  }
  